/*  ==========================================================================
    Variables
    ========================================================================== */

    /*  ==========================================================================
        Grid
        ========================================================================== */
        $breakpoint: 768px; // Breakpoint for small devices
        $max-width:  940px;
        $space:      25px; // Vertical space

    /*  ==========================================================================
        Colors
        ========================================================================== */
        $purple: #33184c;
        $pink: #f31d4f;
        $green: #0ba14b;
        $yellow: #ffde16;
        $blue: #20409a;
        $gray: #231f20;
        $gray-light: #ccc;
        $gray-white: #f5f5f5;

        $color-default:     #444;
        $color-primary:     $purple;
        $color-secondary:   $pink;
        $color-terciary:    $blue;
