/*  ==========================================================================
    Animation
    ========================================================================== */

    /*  Footer
        ========================================================================== */
        .holding { @include animation(fadeIn 0.5s 10s ease both); }

    /*  Preload
        ========================================================================== */
        .preload .logo,
        .preload .square .letter,
        .preload .lead span,
        .preload .square,
        .preload .share,
        .preload .btn,
        .preload .arrow,
        .preload .small,
        .preload .property,
        .preload .footer,
        .preload .section {
            -webkit-animation-play-state: paused;
               -moz-animation-play-state: paused;
                 -o-animation-play-state: paused;
                    animation-play-state: paused;
        }

        .static .logo,
        .static .square .letter,
        .static .lead span,
        .static .square,
        .static .share,
        .static .btn,
        .static .arrow,
        .static .small,
        .static .property,
        .static .footer,
        .static .year,
        .static .share li,
        .static .holding,
        .static .section { @include animation(none);  }

        .static .property { border: none; }
