/*  ==========================================================================
    Buttons
    ========================================================================== */

    @media only screen {

        /*  Default
            ========================================================================== */
            .btn {
                display: inline-block;
                margin-bottom: 5px;
                text-align: center;
                vertical-align: middle;
                cursor: pointer;
                background-image: none;
                border: 1px solid transparent;
                white-space: nowrap;
                font-size: 30px;
                padding: 20px 70px;
                line-height: 1.2;
                @include transition(background 0.25s ease);
            }

            .btn:hover,
            .btn:focus { text-decoration: none; }

        /*  Colors
            ========================================================================== */

            /*  Default
                ========================================================================== */
                .btn {
                    border-color: $color-secondary;
                    color: $color-secondary;
                }

                .btn:hover,
                .btn:focus {
                  background-color: darken($color-secondary, 10%);
                  color: #fff;
                }

                .btn-primary {
                    border-color: $color-primary;
                    color: $color-primary;
                }

                .btn-primary:hover,
                .btn-primary:focus {
                  background-color: $color-primary;
                }

                .btn-invert {
                    background-color: $color-secondary;
                    color: #FFF;
                }

                .btn-invert:hover,
                .btn-invert:focus {
                  background-color: transparent;
                  color: $color-secondary;
                }

        /*  Variations
            ========================================================================== */
            .btn-subscription { height: 80px; }

            .btn-sm {
              font-size: 20px;
              padding: 10px 50px;
            }

    }


    /*
     * CSS for devices with resolution bigger than breakpoint
     */

    @media only screen and (min-width: $breakpoint) {

    }
