/*  ==========================================================================
Typography
========================================================================== */

@media only screen {

    body {
        -webkit-text-size-adjust: none;
        -ms-text-size-adjust:none;
        font-family: 'Source Sans Pro', Helvetica, Arial, sans-serif;
        font-size: 16px;
    }

/*  Titles
    ========================================================================== */
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {  }

    .title {
        margin: 0 0 20px;
        font-size: 28px;
        color: $color-default;
    }

    .title small {
        font-size: 50%;
        padding-top: 5px;
    }

    .title-small { font-size: 24px; }
    .title-mini { font-size: 16px; }

    .title-inner-shadow {
        text-transform: uppercase;
        font-size: 24px;
        font-weight: 900;
        color: rgba(0,0,0,0.3);
        text-shadow: 2px 2px 3px rgba(255,255,255,0.1);
    }

    .title-shadow { text-shadow: 1px 1px 0 rgba(0,0,0,.5); }
    .title-section { text-transform: uppercase; }

    .title-section:before,
    .title-section:after {
        content: "\25A0";
        color: inherit;
        padding: 0 3px;
        position: relative;
        top: -7px;
        font-size: 50%;
    }

/*  Texts
    ========================================================================== */
    p {
        color: $color-default;
        font-size: 24px;
        line-height: 34px;
        margin: 0 0 20px;
        text-align: center;
    }

    .small { font-size: 18px; }

    .text-yellow { color: $yellow; }

    .text-email { font-size: 16px; }

    .conduct-code p {
        font-size: 16px;
        line-height: 24px;
    }

    .conduct-code .title-small,
    .conduct-code .title-mini,
    .conduct-code p { text-align: left; }


/*  Links
    ========================================================================== */
    a {
        color: $color-secondary;
        text-decoration: none;
    }

    a:hover { text-decoration: underline; }

}


/*
* CSS for devices with resolution bigger than breakpoint
*/

@media only screen and (min-width: $breakpoint) {

    .title { font-size: 36px; }
    .title-small { font-size: 26px; }
    .title-mini { font-size: 18px; }
    .text-email { font-size: inherit; }

}
